<div class="pl-6 max-w-6xl mx-auto">
    <h1 class="text-3xl font-bold text-sky-700">Game Activities</h1>
    <hr class="border-t-2 border-sky-500 my-4">

    <!-- Novice Section -->
    <h2 class="text-2xl font-semibold mt-6 text-sky-700">Novice</h2>
    <hr class="mb-8 border-sky-500 my-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for activity in activities_novice %}
        <div class="bg-white shadow-xl rounded-tl-4xl rounded-br-4xl overflow-hidden border-2 border-gray-800/30 cursor-pointer"
             onclick="openDeadlineModal('{{ activity.title|slugify }}', '{{ activity.title|escapejs }}', '{{ activity.description|escapejs }}')">
            <img src="{{ activity.image }}" alt="Activity Image" class="w-full h-40 object-cover">
            <div class="p-4 text-gray-800">
                <h2 class="text-lg font-semibold">{{ activity.title }}</h2>
                <p class="text-sm">{{ activity.subject }}</p>
                <p class="text-xs mt-1">When: {{ activity.date }}</p>
                <div class="flex items-center mt-3 text-xs text-gray-800">
                    <span class="bg-green-600 text-white px-2 py-1 rounded">{{ activity.progress }}% Resume</span>
                    <span class="ml-auto flex items-center">{{ activity.modules }} modules</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="border-t-2 border-sky-500 my-4 mt-12">

    <!-- Junior Section -->
    <h2 class="text-2xl font-semibold mt-6 text-sky-700">Junior</h2>
    <hr class="mb-8 border border-sky-500 my-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for activity in activities_junior %}
        <div class="bg-white shadow-lg rounded-tl-4xl rounded-br-4xl overflow-hidden border border-gray-800/30 cursor-pointer"
             onclick="openDeadlineModal('{{ activity.title|slugify }}', '{{ activity.title|escapejs }}', '{{ activity.description|escapejs }}')">
            <img src="{{ activity.image }}" alt="Activity Image" class="w-full h-40 object-cover">
            <div class="p-4 text-gray-800">
                <h2 class="text-lg font-semibold">{{ activity.title }}</h2>
                <p class="text-sm">{{ activity.subject }}</p>
                <p class="text-xs mt-1">When: {{ activity.date }}</p>
                <div class="flex items-center mt-3 text-xs text-gray-800">
                    <span class="bg-green-600 text-white px-2 py-1 rounded">{{ activity.progress }}% Resume</span>
                    <span class="ml-auto flex items-center">{{ activity.modules }} modules</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="border-t-2 border-sky-500 my-4 mt-12">

    <!-- Senior Section -->
    <h2 class="text-2xl font-semibold mt-6 text-sky-700">Senior</h2>
    <hr class="mb-8 border border-sky-500 my-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for activity in activities_senior %}
        <div class="bg-white shadow-lg rounded-tl-4xl rounded-br-4xl overflow-hidden border border-gray-800/30 cursor-pointer"
             onclick="openDeadlineModal('{{ activity.title|slugify }}', '{{ activity.title|escapejs }}', '{{ activity.description|escapejs }}')">
            <img src="{{ activity.image }}" alt="Activity Image" class="w-full h-40 object-cover">
            <div class="p-4 text-gray-800">
                <h2 class="text-lg font-semibold">{{ activity.title }}</h2>
                <p class="text-sm">{{ activity.subject }}</p>
                <p class="text-xs mt-1">When: {{ activity.date }}</p>
                <div class="flex items-center mt-3 text-xs text-gray-800">
                    <span class="bg-green-600 text-white px-2 py-1 rounded">{{ activity.progress }}% Resume</span>
                    <span class="ml-auto flex items-center">{{ activity.modules }} modules</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script>
function openDeadlineModal(activityId, title, description) {
    document.getElementById('id_activity_id').value = activityId;
    document.getElementById('id_title').value = title;
    document.getElementById('id_description').value = description;
    document.getElementById('deadlineModal').classList.remove('hidden');
    document.getElementById('deadlineModal').classList.add('flex');
    document.querySelector('aside').classList.add('blur');
}
function closeDeadlineModal() {
    document.getElementById('deadlineModal').classList.remove('flex');
    document.getElementById('deadlineModal').classList.add('hidden');
    document.querySelector('aside').classList.remove('blur');
}
</script>