{% extends 'Faculty/faculty-base.html' %}
{% load static %}
{% block content %}
<!-- Student Table -->
<div class="overflow-hidden rounded-2xl border border-blue-500">
    <table class="w-full min-w-[800px] border-separate border-spacing-0 rounded-lg"> <!-- Ensures minimum width -->
        <thead>
            <tr class="bg-blue-600 text-white">
                <th class="border border-blue-500 p-2">Student ID</th>
                <th class="border border-blue-500 p-2">Full Name</th>
                <th class="border border-blue-500 p-2">Program</th>
                <th class="border border-blue-500 p-2">Year & Section</th>
                <th class="border border-blue-500 p-2">Semester</th>
                <th class="border border-blue-500 p-2">Actions</th>
            </tr>
        </thead>
        <tbody id="studentTableBody">
            {% for student in students %}
                <tr class="studentRow text-white">
                    <td class="border border-blue-500 p-2 text-center whitespace-nowrap">{{ student.student_id }}</td>
                    <td class="border border-blue-500 p-2 text-center whitespace-nowrap">{{ student.first_name }} {{ student.middle_initial }} {{ student.last_name }}</td>
                    <td class="border border-blue-500 p-2 text-center whitespace-nowrap">{{ student.program }}</td>
                    <td class="border border-blue-500 p-2 text-center whitespace-nowrap">{{ student.year_section }}</td>
                    <td class="border border-blue-500 p-2 text-center whitespace-nowrap">{{ student.semester }}</td>
                    <td class="border border-blue-500 p-2 text-center whitespace-nowrap">
                        <div class="flex items-center justify-center space-x-3">
                            <button onclick="openEditModal('{{ student.student_id }}', '{{ student.first_name }}', '{{ student.middle_initial }}', '{{ student.last_name }}', '{{ student.program }}', '{{ student.year_section }}', '{{ student.semester }}')"  class="text-gray-200 hover:text-blue-600">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" fill="currentColor" class="w-5 h-5">
                                    <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                    <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                                </svg>
                            </button>
                            <button href="/archive/" onclick="openArchiveModal('{% url 'archive_student' student.student_id %}')" class="text-gray-200 hover:text-green-600">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" fill="currentColor" class="w-5 h-5">
                                    <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                                    <path fill-rule="evenodd" d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087Zm6.133 2.845a.75.75 0 0 1 1.06 0l1.72 1.72 1.72-1.72a.75.75 0 1 1 1.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 1 1-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 1 1-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                  </svg>
                            </button>
                        </div>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="6" class="text-center border border-gray-300 p-4">No users registered yet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}