{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SENTINELS | Super Admin Login{% endblock %}</title>
    <link rel="icon" href="{% static 'assets/img/Sentinels Logo.png' %}">
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body class="h-screen flex">
    <!-- Left Section (Image) -->
    <div class="w-2/3 h-screen relative rounded-r-3xl overflow-hidden">
        <img src="{% static 'assets/img/login-bg.png' %}" alt="Background Image" class="w-full h-full object-cover">
    </div>

    <!-- Right Section (Login Form) -->
    <div class="w-1/3 h-screen bg-gradient-to-r from-gray-200 to-gray/20 flex items-center justify-center p-2">
        <div class="bg-white-100 pl-5 pr-5 rounded-3xl w-2/3 max-w-md shadow-2xl h-[500px]">
            <div class="text-center">
                <img src="{% static 'assets/img/Sentinels Logo Text Right.png' %}" alt="Sentinels Logo" class="mx-auto h-16 mb-16 mt-10">
            </div>

            <!-- Login Form -->
            <form method="POST" action="{% url 'login' %}" class="space-y-5">
                {% csrf_token %}

                  <div class="relative">
                    <label for="faculty_id" class="block mb-1 text-lg font-bold text-blue-500">Admin Username</label>
                    <input type="text" name="username" placeholder=" Enter Admin Username" required
                        class="w-full px-4 py-3 pl-10 bg-white text-black rounded-2xl border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600">
                    <span class="absolute left-3 top-11 text-blue-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9A3.75 3.75 0 1 1 8.25 9a3.75 3.75 0 0 1 7.5 0ZM4.5 20.25a8.25 8.25 0 0 1 15 0"/>
                        </svg>
                    </span>
                  </div>


                  <div class="relative">
                    <label for="faculty_id" class="block mb-1 text-lg font-bold text-blue-500">Password</label>
                    <input type="password" name="password" placeholder="Enter Password" required
                        class="w-full px-4 py-3 pl-10 bg-white text-black rounded-2xl border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600">
                    <span class="absolute left-3 top-11 text-blue-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V7.875a4.5 4.5 0 1 0-9 0V10.5M7.5 10.5h9a1.5 1.5 0 0 1 1.5 1.5v6a1.5 1.5 0 0 1-1.5 1.5h-9a1.5 1.5 0 0 1-1.5-1.5v-6a1.5 1.5 0 0 1 1.5-1.5Z"/>
                        </svg>
                    </span>
                  </div>

                <button type="submit" class="w-full bg-blue-700 text-white font-bold py-3 rounded-2xl hover:bg-blue-500">Login</button>
            </form>

            <div class="text-left mt-4">
                <a href="{% url 'login' %}" class="text-sm text-blue-500 hover:underline">
                    Login as Faculty
                </a>
            </div>
        </div>
    </div>
</body>
</html>
